## Importing the Data

In [1]:
import pandas as pd
import numpy as np

data=pd.read_csv('Sports_Fans.csv',na_values=(" "))

In [2]:
data.head()

,q11_id,q12_age_int,q13_age_attd,q14_no_game,q15_team_sup,q16_attd_who,Mar-28,Apr-17,May-02,May-09,...,q21_agev152,q22_sexv153,q23_postcode,q24a,q24b,q24c,q24d,q24e,q24f,q25_incomev161
0,968,5.0,12.0,2.0,2.0,3.0,1,0,1,1,...,3,2,2010.0,0,0,1,0,0,0,4.0
1,733,20.0,20.0,3.0,1.0,3.0,0,0,0,1,...,5,2,2010.0,0,0,1,0,0,0,4.0
2,389,14.0,20.0,4.0,2.0,3.0,1,1,1,1,...,5,2,2011.0,0,0,1,0,0,0,6.0
3,924,30.0,30.0,3.0,1.0,3.0,1,1,1,1,...,3,1,2015.0,0,0,1,0,0,0,6.0
4,762,37.0,34.0,3.0,1.0,2.0,1,1,1,1,...,6,1,2016.0,0,0,0,0,1,0,5.0

In [3]:
data.drop(data.index[0],inplace=True)
data

,q11_id,q12_age_int,q13_age_attd,q14_no_game,q15_team_sup,q16_attd_who,Mar-28,Apr-17,May-02,May-09,...,q21_agev152,q22_sexv153,q23_postcode,q24a,q24b,q24c,q24d,q24e,q24f,q25_incomev161
1,733,20.0,20.0,3.0,1.0,3.0,0,0,0,1,...,5,2,2010.0,0,0,1,0,0,0,4.0
2,389,14.0,20.0,4.0,2.0,3.0,1,1,1,1,...,5,2,2011.0,0,0,1,0,0,0,6.0
3,924,30.0,30.0,3.0,1.0,3.0,1,1,1,1,...,3,1,2015.0,0,0,1,0,0,0,6.0
4,762,37.0,34.0,3.0,1.0,2.0,1,1,1,1,...,6,1,2016.0,0,0,0,0,1,0,5.0
5,355,8.0,13.0,1.0,2.0,3.0,0,0,0,0,...,3,2,2021.0,0,0,1,0,0,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,442,4.0,6.0,11.0,3.0,2.0,1,1,1,1,...,6,2,2233.0,0,1,0,1,1,0,5.0
670,84,NaN,36.0,8.0,1.0,2.0,1,0,0,0,...,5,2,2508.0,0,1,0,1,1,0,4.0
671,251,4.0,1.0,11.0,2.0,2.0,0,0,0,1,...,6,1,2776.0,0,1,0,1,1,0,5.0
672,1221,15.0,NaN,1.0,1.0,2.0,1,1,1,0,...,6,2,2777.0,0,1,0,1,1,0,7.0
673,1177,5.0,6.0,1.0,1.0,2.0,0,0,0,0,...,3,2,6530.0,0,1,0,1,1,0,6.0

In [4]:
data['q16_attd_who'].isnull().values.any()

True

In [5]:
data.isna().sum()

q11_id             0
q12_age_int       18
q13_age_attd      26
q14_no_game       57
q15_team_sup       3
                  ..
q24c               0
q24d               0
q24e               0
q24f               0
q25_incomev161    10
Length: 149, dtype: int64

In [6]:
data.loc[:,data.isnull().any()].columns

Index(['q12_age_int', 'q13_age_attd', 'q14_no_game', 'q15_team_sup',
       'q16_attd_who', 'q18_game_last', 'q19_sport_fx', 'q24', 'q25', 'q26',
       'q29', 'q210', 'q211', 'q3', 'q62', 'q63', 'q64', 'q711', 'q712',
       'q721', 'q722', 'q723', 'q731', 'q732', 'q741', 'q742', 'q751', 'q81',
       'q82', 'q83', 'q84', 'q85', 'q911', 'q912', 'q921', 'q922', 'q923',
       'q924', 'q931', 'q932', 'q933', 'q934', 'q941', 'q942', 'q943', 'q951',
       'q952', 'q953', 'q16', 'q17', 'q18', 'q18b', 'q19', 'q20',
       'q23_postcode', 'q25_incomev161'],
      dtype='object')

## Pre-processing and Cleaning Data

In [7]:
# Deal with missing data by taking column mean
data['q12_age_int'].fillna(np.mean(data['q12_age_int']),inplace=True)
data['q13_age_attd'].fillna(np.mean(data['q13_age_attd']),inplace=True)
data['q19_sport_fx'].fillna(np.mean(data['q19_sport_fx']),inplace=True)

data['q24'].fillna(np.mean(data['q24']),inplace=True)
data['q25'].fillna(np.mean(data['q25']),inplace=True)
data['q26'].fillna(np.mean(data['q26']),inplace=True)
data['q29'].fillna(np.mean(data['q29']),inplace=True)
data['q210'].fillna(np.mean(data['q210']),inplace=True)
data['q211'].fillna(np.mean(data['q211']),inplace=True)

data['q3'].fillna(np.mean(data['q3']),inplace=True)

data['q62'].fillna(np.mean(data['q62']),inplace=True)
data['q63'].fillna(np.mean(data['q63']),inplace=True)
data['q64'].fillna(np.mean(data['q64']),inplace=True)

data['q711'].fillna(np.mean(data['q711']),inplace=True)
data['q712'].fillna(np.mean(data['q712']),inplace=True)
data['q721'].fillna(np.mean(data['q721']),inplace=True)
data['q722'].fillna(np.mean(data['q722']),inplace=True)
data['q723'].fillna(np.mean(data['q723']),inplace=True)
data['q731'].fillna(np.mean(data['q731']),inplace=True)
data['q732'].fillna(np.mean(data['q732']),inplace=True)
data['q741'].fillna(np.mean(data['q741']),inplace=True)
data['q742'].fillna(np.mean(data['q742']),inplace=True)
data['q751'].fillna(np.mean(data['q751']),inplace=True)

data['q81'].fillna(np.mean(data['q81']),inplace=True)
data['q82'].fillna(np.mean(data['q82']),inplace=True)
data['q83'].fillna(np.mean(data['q83']),inplace=True)
data['q84'].fillna(np.mean(data['q84']),inplace=True)
data['q85'].fillna(np.mean(data['q85']),inplace=True)

data['q911'].fillna(np.mean(data['q911']),inplace=True)
data['q912'].fillna(np.mean(data['q912']),inplace=True)
data['q921'].fillna(np.mean(data['q921']),inplace=True)
data['q922'].fillna(np.mean(data['q922']),inplace=True)
data['q923'].fillna(np.mean(data['q923']),inplace=True)
data['q924'].fillna(np.mean(data['q924']),inplace=True)
data['q931'].fillna(np.mean(data['q931']),inplace=True)
data['q932'].fillna(np.mean(data['q932']),inplace=True)
data['q933'].fillna(np.mean(data['q933']),inplace=True)
data['q934'].fillna(np.mean(data['q934']),inplace=True)
data['q941'].fillna(np.mean(data['q941']),inplace=True)
data['q942'].fillna(np.mean(data['q942']),inplace=True)
data['q943'].fillna(np.mean(data['q943']),inplace=True)
data['q951'].fillna(np.mean(data['q951']),inplace=True)
data['q952'].fillna(np.mean(data['q952']),inplace=True)
data['q953'].fillna(np.mean(data['q953']),inplace=True)

In [8]:
#Impute missing values using forward-fill method
data["q14_no_game"].fillna(0, inplace=True)
data["q15_team_sup"].fillna(0, inplace=True)
data["q16_attd_who"].fillna(4, inplace=True)
data["q18_game_last"].fillna(1, inplace=True)
data["q16"].fillna(1, inplace=True)
data["q17"].fillna(0, inplace=True)
data["q18"].fillna(1, inplace=True)
data["q18b"].fillna(0, inplace=True)
data["q19"].fillna(0, inplace=True)
data["q20"].fillna(0, inplace=True)
data["q23_postcode"].fillna(2000, inplace=True)
data["q25_incomev161"].fillna(7, inplace=True)

In [9]:
data.loc[:,data.isnull().any()].columns

Index([], dtype='object')

In [10]:
data

,q11_id,q12_age_int,q13_age_attd,q14_no_game,q15_team_sup,q16_attd_who,Mar-28,Apr-17,May-02,May-09,...,q21_agev152,q22_sexv153,q23_postcode,q24a,q24b,q24c,q24d,q24e,q24f,q25_incomev161
1,733,20.000000,20.00000,3.0,1.0,3.0,0,0,0,1,...,5,2,2010.0,0,0,1,0,0,0,4.0
2,389,14.000000,20.00000,4.0,2.0,3.0,1,1,1,1,...,5,2,2011.0,0,0,1,0,0,0,6.0
3,924,30.000000,30.00000,3.0,1.0,3.0,1,1,1,1,...,3,1,2015.0,0,0,1,0,0,0,6.0
4,762,37.000000,34.00000,3.0,1.0,2.0,1,1,1,1,...,6,1,2016.0,0,0,0,0,1,0,5.0
5,355,8.000000,13.00000,1.0,2.0,3.0,0,0,0,0,...,3,2,2021.0,0,0,1,0,0,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,442,4.000000,6.00000,11.0,3.0,2.0,1,1,1,1,...,6,2,2233.0,0,1,0,1,1,0,5.0
670,84,17.896183,36.00000,8.0,1.0,2.0,1,0,0,0,...,5,2,2508.0,0,1,0,1,1,0,4.0
671,251,4.000000,1.00000,11.0,2.0,2.0,0,0,0,1,...,6,1,2776.0,0,1,0,1,1,0,5.0
672,1221,15.000000,20.11592,1.0,1.0,2.0,1,1,1,0,...,6,2,2777.0,0,1,0,1,1,0,7.0
673,1177,5.000000,6.00000,1.0,1.0,2.0,0,0,0,0,...,3,2,6530.0,0,1,0,1,1,0,6.0

# Q1: As a Swans Spectator, what attracts me in the stadium to watch the game?

IV - Q 14.2
DV - Q 9.12, 9.22, 9.23, 9.24

## Question 1 (Gradient Boosting)

In [11]:
# Set those members with answers greater than 5 as the 'Swans Spectators'
data['Swans Spectator']=(data['q142']>5).astype(int)

In [12]:
from sklearn.model_selection import train_test_split
X=data[['q912', 'q921', 'q922', 'q923', 'q924']]
y=data['Swans Spectator']
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [13]:
from xgboost import XGBClassifier
XGB_clf = XGBClassifier(n_estimators=200, learning_rate=0.5)
XGB_clf.fit(x_train, y_train)

C:\Users\likhi\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[17:09:22] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.5, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=200, n_jobs=12, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [14]:
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score
from sklearn.metrics import precision_score, log_loss

columns=['Error rate', 'Sensitivity', 'Specificity', 'Precision', 'AUC', 'Cross-Entropy']
rows=['XG Boost']

results=pd.DataFrame(0.0, columns=columns, index=rows) 


y_pred = XGB_clf.predict(x_test) 
y_prob = XGB_clf.predict_proba(x_test)[:,1]

confusion  = confusion_matrix(y_test, y_pred) 
results.iloc[0,0]=  1 - accuracy_score(y_test, y_pred)
results.iloc[0,1]=  confusion[1,1]/np.sum(confusion[1,:])
results.iloc[0,2]=  confusion[0,0]/np.sum(confusion[0,:])
results.iloc[0,3]=  precision_score(y_test, y_pred)

results.iloc[0, 4]=  roc_auc_score(y_test, y_prob)     
results.iloc[0, 5]=  log_loss(y_test, y_prob)   
results

,Error rate,Sensitivity,Specificity,Precision,AUC,Cross-Entropy
XG Boost,0.360947,0.803922,0.38806,0.666667,0.603673,1.058815

In [15]:
print(XGB_clf.feature_importances_)

[0.19600216 0.28245395 0.16080435 0.17362273 0.18711683]

## Q1 - Gradient Boosting - Fine Tuning Hyperparameters

In [16]:
%%time

from xgboost import XGBClassifier
from skopt.space import Real, Categorical, Integer
from skopt import BayesSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

model = XGBClassifier(reg_lambda=0)

space = {
    'learning_rate': Real(0.005, 0.15),
    'n_estimators' : Integer(100, 2000),
    'max_depth' : Integer(1, 4),
    'subsample' : Real(0.5, 1.0),
    'colsample_bynode' : Real(0.01, 1.0),
}


xgb_search =  BayesSearchCV(model, space, cv = 5,  n_iter=32, scoring = 'neg_log_loss', n_jobs=4)


xgb_search.fit(x_train, y_train)

XGB_clf = xgb_search.best_estimator_

print('Best parameters found:', xgb_search.best_params_)

C:\Users\likhi\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[17:11:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Best parameters found: OrderedDict([('colsample_bynode', 0.01), ('learning_rate', 0.005366983105577047), ('max_depth', 2), ('n_estimators', 452), ('subsample', 0.5872263082172403)])
Wall time: 1min 53s

In [17]:
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score
from sklearn.metrics import precision_score, log_loss

columns=['Error rate', 'Sensitivity', 'Specificity', 'Precision', 'AUC', 'Cross-Entropy']
rows=['XG Boost']

results=pd.DataFrame(0.0, columns=columns, index=rows) 


y_pred = XGB_clf.predict(x_test) 
y_prob = XGB_clf.predict_proba(x_test)[:,1]

confusion  = confusion_matrix(y_test, y_pred) 
results.iloc[0,0]=  1 - accuracy_score(y_test, y_pred)
results.iloc[0,1]=  confusion[1,1]/np.sum(confusion[1,:])
results.iloc[0,2]=  confusion[0,0]/np.sum(confusion[0,:])
results.iloc[0,3]=  precision_score(y_test, y_pred)

results.iloc[0, 4]=  roc_auc_score(y_test, y_prob)     
results.iloc[0, 5]=  log_loss(y_test, y_prob)   
results

,Error rate,Sensitivity,Specificity,Precision,AUC,Cross-Entropy
XG Boost,0.420118,0.901961,0.089552,0.601307,0.618159,0.662006

In [18]:
print(XGB_clf.feature_importances_)

[0.15830371 0.29327697 0.1629857  0.198145   0.18728855]

In [19]:
y_1_gb=pd.DataFrame({'y_test':y_test,
                          'y_pred': y_pred})

In [20]:
pd.DataFrame(y_1_gb).to_csv('y_1_gb.csv',index=False)

## Q1 - Logit Model

In [21]:
data

,q11_id,q12_age_int,q13_age_attd,q14_no_game,q15_team_sup,q16_attd_who,Mar-28,Apr-17,May-02,May-09,...,q22_sexv153,q23_postcode,q24a,q24b,q24c,q24d,q24e,q24f,q25_incomev161,Swans Spectator
1,733,20.000000,20.00000,3.0,1.0,3.0,0,0,0,1,...,2,2010.0,0,0,1,0,0,0,4.0,1
2,389,14.000000,20.00000,4.0,2.0,3.0,1,1,1,1,...,2,2011.0,0,0,1,0,0,0,6.0,1
3,924,30.000000,30.00000,3.0,1.0,3.0,1,1,1,1,...,1,2015.0,0,0,1,0,0,0,6.0,1
4,762,37.000000,34.00000,3.0,1.0,2.0,1,1,1,1,...,1,2016.0,0,0,0,0,1,0,5.0,1
5,355,8.000000,13.00000,1.0,2.0,3.0,0,0,0,0,...,2,2021.0,0,0,1,0,0,0,6.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,442,4.000000,6.00000,11.0,3.0,2.0,1,1,1,1,...,2,2233.0,0,1,0,1,1,0,5.0,1
670,84,17.896183,36.00000,8.0,1.0,2.0,1,0,0,0,...,2,2508.0,0,1,0,1,1,0,4.0,1
671,251,4.000000,1.00000,11.0,2.0,2.0,0,0,0,1,...,1,2776.0,0,1,0,1,1,0,5.0,1
672,1221,15.000000,20.11592,1.0,1.0,2.0,1,1,1,0,...,2,2777.0,0,1,0,1,1,0,7.0,1
673,1177,5.000000,6.00000,1.0,1.0,2.0,0,0,0,0,...,2,6530.0,0,1,0,1,1,0,6.0,1

In [22]:
# Set those members with answers greater than 5 as the 'Swans Spectators'
data['Swans Spectator']=(data['q142']>5).astype(int)

In [23]:
from sklearn.model_selection import train_test_split
X=data[['q912', 'q921', 'q922', 'q923', 'q924']]
y=data['Swans Spectator']
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [24]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(x_train, y_train)

LogisticRegression()

In [25]:
print(log_reg.intercept_)
print(log_reg.coef_)

[-2.59220939]
[[-0.01262382  0.42684075  0.01806657  0.05565991  0.12419189]]

## Generating P Values - Logit Q1

In [26]:
from scipy.stats import norm

def logit_pvalue(model, x):
    p = model.predict_proba(x)
    n = len(p)
    m = len(model.coef_[0]) + 1
    coefs = np.concatenate([model.intercept_, model.coef_[0]])
    x_full = np.matrix(np.insert(np.array(x), 0, 1, axis = 1))
    ans = np.zeros((m, m))
    for i in range(n):
        ans = ans + np.dot(np.transpose(x_full[i, :]), x_full[i, :]) * p[i,1] * p[i, 0]
    vcov = np.linalg.inv(np.matrix(ans))
    se = np.sqrt(np.diag(vcov))
    t =  coefs/se  
    p = (1 - norm.cdf(abs(t))) * 2
    return p

print(logit_pvalue(log_reg, x_train))

[7.15326669e-06 8.72576452e-01 1.59596358e-03 8.62192588e-01
 5.79680470e-01 2.79232091e-01]

In [27]:
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score
from sklearn.metrics import precision_score, log_loss

columns=['Error rate', 'Sensitivity', 'Specificity', 'Precision', 'AUC', 'Cross-Entropy']
rows=['Logistic']

results=pd.DataFrame(0.0, columns=columns, index=rows) 


y_pred = log_reg.predict(x_test) 
y_prob = log_reg.predict_proba(x_test)[:,1]

confusion  = confusion_matrix(y_test, y_pred) 
results.iloc[0,0]=  1 - accuracy_score(y_test, y_pred)
results.iloc[0,1]=  confusion[1,1]/np.sum(confusion[1,:])
results.iloc[0,2]=  confusion[0,0]/np.sum(confusion[0,:])
results.iloc[0,3]=  precision_score(y_test, y_pred)

results.iloc[0, 4]=  roc_auc_score(y_test, y_prob)   
results.iloc[0, 5]=  log_loss(y_test, y_prob)   
results

,Error rate,Sensitivity,Specificity,Precision,AUC,Cross-Entropy
Logistic,0.420118,0.901961,0.089552,0.601307,0.637182,0.673303

In [28]:
from sklearn.metrics import accuracy_score

y_pred = log_reg.predict(x_test) 
error_rate=  1 - accuracy_score(y_test, y_pred)

print(error_rate)

0.4201183431952663

In [29]:
y_1_logit=pd.DataFrame({'y_test':y_test,
                          'y_pred': y_pred})

In [30]:
pd.DataFrame(y_1_logit).to_csv('y_1_logit.csv',index=False)

# Q2: As a long time swans supporter will my support be infulenced by other external factors

IV - Q2.11
DV - Q15.1 to 15.10

## Question 2 (SVM)

In [90]:
data

,q11_id,q12_age_int,q13_age_attd,q14_no_game,q15_team_sup,q16_attd_who,Mar-28,Apr-17,May-02,May-09,...,q24b,q24c,q24d,q24e,q24f,q25_incomev161,Swans Spectator,Long Time Supporter,Renewers,Absolute supporters
1,733,20.000000,20.00000,3.0,1.0,3.0,0,0,0,1,...,0,1,0,0,0,4.0,1,1,0,0
2,389,14.000000,20.00000,4.0,2.0,3.0,1,1,1,1,...,0,1,0,0,0,6.0,1,0,1,0
3,924,30.000000,30.00000,3.0,1.0,3.0,1,1,1,1,...,0,1,0,0,0,6.0,1,0,0,0
4,762,37.000000,34.00000,3.0,1.0,2.0,1,1,1,1,...,0,0,0,1,0,5.0,1,1,1,1
5,355,8.000000,13.00000,1.0,2.0,3.0,0,0,0,0,...,0,1,0,0,0,6.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,442,4.000000,6.00000,11.0,3.0,2.0,1,1,1,1,...,1,0,1,1,0,5.0,1,1,1,0
670,84,17.896183,36.00000,8.0,1.0,2.0,1,0,0,0,...,1,0,1,1,0,4.0,1,0,0,0
671,251,4.000000,1.00000,11.0,2.0,2.0,0,0,0,1,...,1,0,1,1,0,5.0,1,0,1,0
672,1221,15.000000,20.11592,1.0,1.0,2.0,1,1,1,0,...,1,0,1,1,0,7.0,1,0,1,0
673,1177,5.000000,6.00000,1.0,1.0,2.0,0,0,0,0,...,1,0,1,1,0,6.0,1,1,1,1

In [91]:
from sklearn.model_selection import train_test_split
X=data[data.columns[123:133]]
# Set those members with answers greater than 5 as the 'Long Time Supporters'
data['Long Time Supporter']=(data['q211']>4).astype(int)
y=data[['Long Time Supporter']]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [92]:
X

     q151  q152  q153  q154  q155  q156  q157  q158  q159  q1510
1       4     3     6     6     5     5     6     5     7      5
2       2     4     7     7     7     4     4     1     4      4
3       7     4     4     1     6     1     4     1     1      6
4       1     7     7     6     7     3     1     1     4      2
5       5     1     4     1     4     3     5     1     1      4
..    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
669     4     5     7     7     7     7     6     4     7      7
670     4     1     7     7     2     4     7     1     7      4
671     4     7     7     7     7     2     2     2     7      2
672     5     4     7     7     5     4     6     6     7      4
673     5     7     7     7     7     4     7     7     7      4

[673 rows x 10 columns]

In [93]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVC

SVM_clf = Pipeline([
         ("scaler", StandardScaler(with_mean=False)), 
         ("linear_svc", LinearSVC(C=1, loss="hinge",max_iter=1000000)), 
     ])
SVM_clf.fit(x_train, y_train)

C:\Users\likhi\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Pipeline(steps=[('scaler', StandardScaler(with_mean=False)),
                ('linear_svc', LinearSVC(C=1, loss='hinge', max_iter=1000000))])

In [94]:
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score
from sklearn.metrics import precision_score, log_loss

columns=['Error rate', 'Sensitivity', 'Specificity', 'Precision', 'AUC', 'Cross-Entropy']
rows=['SVM']

results=pd.DataFrame(0.0, columns=columns, index=rows) 


y_pred = SVM_clf.predict(x_test)



confusion  = confusion_matrix(y_test, y_pred) 
results.iloc[0,0]=  1 - accuracy_score(y_test, y_pred)
results.iloc[0,1]=  confusion[1,1]/np.sum(confusion[1,:])
results.iloc[0,2]=  confusion[0,0]/np.sum(confusion[0,:])
results.iloc[0,3]=  precision_score(y_test, y_pred, average='weighted')
y_df = SVM_clf.decision_function(x_test)
  

results

     Error rate  Sensitivity  Specificity  Precision  AUC  Cross-Entropy
SVM     0.35503     0.715909     0.567901   0.645268  0.0            0.0

In [95]:
y_pred

array([0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0])

In [96]:
from matplotlib import pyplot as plt
from sklearn import svm

def f_importances(coef, names):
    imp = coef
    imp,names = zip(*sorted(zip(imp,names)))
    plt.barh(range(len(names)), imp, align='center')
    plt.yticks(range(len(names)), names)
    plt.show()

svm = svm.SVC(kernel='linear',max_iter=10000000)
svm.fit(x_train,y_train)
svm.coef_

C:\Users\likhi\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

array([[-0.20370997,  0.16812806,  0.39055835, -0.02232505, -0.08627732,
         0.03077089,  0.06314294,  0.02993672,  0.03695372,  0.23644304]])

In [97]:
y_pred=SVM_clf.predict(x_test)
print(y_pred)

[0 1 1 1 1 1 1 0 1 1 0 1 0 0 0 1 1 1 1 0 1 1 0 0 1 0 1 0 0 1 1 0 1 0 0 0 0
 1 0 1 1 1 1 1 1 1 1 0 1 1 1 0 0 1 1 0 1 1 1 1 1 1 0 1 1 0 1 0 0 1 0 1 0 0
 0 0 0 0 1 1 0 0 1 1 0 0 0 0 1 1 1 0 0 0 1 1 1 1 1 1 1 0 0 0 0 1 1 1 0 1 1
 1 1 0 1 0 1 0 1 1 1 0 1 0 0 1 1 0 0 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 0 1 0 1
 0 1 0 0 0 1 1 1 1 1 0 0 0 0 0 1 1 0 0 1 0]

In [98]:
y_comparison=pd.DataFrame({'y_test': y_test,
                           'y_pred': y_pred})
pd.DataFrame(y_comparison).to_csv('y_comparison.csv',index=False)

ValueError: Shape of passed values is (1, 2), indices imply (169, 2)

In [79]:
pd.DataFrame(y_2_svm).to_csv('y_2_svm.csv',index=False)

NameError: name 'y_2_svm' is not defined

## Q2 -Logit Model

In [107]:
data

,q11_id,q12_age_int,q13_age_attd,q14_no_game,q15_team_sup,q16_attd_who,Mar-28,Apr-17,May-02,May-09,...,q24b,q24c,q24d,q24e,q24f,q25_incomev161,Swans Spectator,Long Time Supporter,Renewers,Absolute supporters
1,733,20.000000,20.00000,3.0,1.0,3.0,0,0,0,1,...,0,1,0,0,0,4.0,1,1,0,0
2,389,14.000000,20.00000,4.0,2.0,3.0,1,1,1,1,...,0,1,0,0,0,6.0,1,0,1,0
3,924,30.000000,30.00000,3.0,1.0,3.0,1,1,1,1,...,0,1,0,0,0,6.0,1,0,0,0
4,762,37.000000,34.00000,3.0,1.0,2.0,1,1,1,1,...,0,0,0,1,0,5.0,1,1,1,1
5,355,8.000000,13.00000,1.0,2.0,3.0,0,0,0,0,...,0,1,0,0,0,6.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,442,4.000000,6.00000,11.0,3.0,2.0,1,1,1,1,...,1,0,1,1,0,5.0,1,1,1,0
670,84,17.896183,36.00000,8.0,1.0,2.0,1,0,0,0,...,1,0,1,1,0,4.0,1,0,0,0
671,251,4.000000,1.00000,11.0,2.0,2.0,0,0,0,1,...,1,0,1,1,0,5.0,1,0,1,0
672,1221,15.000000,20.11592,1.0,1.0,2.0,1,1,1,0,...,1,0,1,1,0,7.0,1,0,1,0
673,1177,5.000000,6.00000,1.0,1.0,2.0,0,0,0,0,...,1,0,1,1,0,6.0,1,1,1,1

In [114]:
from sklearn.model_selection import train_test_split
X=data[data.columns[124:133]]
# Set those members with answers greater than 5 as the 'Long Time Supporters'
data['Long Time Supporter']=(data['q211']>4).astype(int)
y=data[['Long Time Supporter']]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [115]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(x_train, y_train)

C:\Users\likhi\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [116]:
print(log_reg.intercept_)
print(log_reg.coef_)

[-3.69108195]
[[ 1.87569875e-01  3.88131153e-01  6.27998579e-05 -1.06749678e-01
   2.72523728e-02  5.00287293e-02  1.29645607e-02  5.32538585e-02
   2.02211672e-01]]

In [117]:
from scipy.stats import norm

def logit_pvalue(model, x):
    p = model.predict_proba(x)
    n = len(p)
    m = len(model.coef_[0]) + 1
    coefs = np.concatenate([model.intercept_, model.coef_[0]])
    x_full = np.matrix(np.insert(np.array(x), 0, 1, axis = 1))
    ans = np.zeros((m, m))
    for i in range(n):
        ans = ans + np.dot(np.transpose(x_full[i, :]), x_full[i, :]) * p[i,1] * p[i, 0]
    vcov = np.linalg.inv(np.matrix(ans))
    se = np.sqrt(np.diag(vcov))
    t =  coefs/se  
    p = (1 - norm.cdf(abs(t))) * 2
    return p

print(logit_pvalue(log_reg, x_train))

[5.77362602e-11 1.74138246e-02 2.09194547e-06 9.99496339e-01
 2.81920237e-01 6.93281455e-01 3.91713939e-01 8.18501045e-01
 6.33364467e-01 2.50654484e-04]

In [118]:
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score
from sklearn.metrics import precision_score, log_loss

columns=['Error rate', 'Sensitivity', 'Specificity', 'Precision', 'AUC', 'Cross-Entropy']
rows=['Logistic']

results=pd.DataFrame(0.0, columns=columns, index=rows) 


y_pred = log_reg.predict(x_test) 
y_prob = log_reg.predict_proba(x_test)[:,1]

confusion  = confusion_matrix(y_test, y_pred) 
results.iloc[0,0]=  1 - accuracy_score(y_test, y_pred)
results.iloc[0,1]=  confusion[1,1]/np.sum(confusion[1,:])
results.iloc[0,2]=  confusion[0,0]/np.sum(confusion[0,:])
results.iloc[0,3]=  precision_score(y_test, y_pred)

results.iloc[0, 4]=  roc_auc_score(y_test, y_prob)   
results.iloc[0, 5]=  log_loss(y_test, y_prob)   
results

,Error rate,Sensitivity,Specificity,Precision,AUC,Cross-Entropy
Logistic,0.325444,0.727273,0.617284,0.673684,0.71654,0.620599

In [119]:
y_2_logit=pd.DataFrame({'y_test':y_test,
                          'y_pred': y_pred})

ValueError: Shape of passed values is (1, 2), indices imply (169, 2)

In [47]:
pd.DataFrame(y_2_logit).to_csv('y_2_logit.csv',index=False)

NameError: name 'y_2_logit' is not defined

# Question 3: Whether a Swan member will automatically renew their membership if they are confident in the Swanâ€™s management?
DV: 14.6,  IV: 13.1-13.9

In [48]:
# I will automatically renew my Swans membership if I'm confident in the Swans management.
# DV: 14.6 IV: 13.1-13.9

# Set those members with answers greater than 5 as the 'Renewers'
data['Renewers'] = (data['q146']>5).astype(int)
X = data.loc[:, 'q131':'q139']
y = data['Renewers']

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [50]:
from sklearn.ensemble import RandomForestClassifier

rnd = RandomForestClassifier(n_estimators=500, max_leaf_nodes=16)
rnd.fit(X_train, y_train)
y_pred = rnd.predict(X_test)

In [51]:
print(rnd.get_params)

<bound method BaseEstimator.get_params of RandomForestClassifier(max_leaf_nodes=16, n_estimators=500)>

In [52]:
print(rnd.feature_importances_)

[0.11798275 0.09625823 0.10998875 0.09888829 0.14141301 0.17277101
 0.10198103 0.08118995 0.07952698]

In [53]:
from sklearn.metrics import accuracy_score
error_rate = 1 - accuracy_score(y_test, y_pred)
print(error_rate)

0.2248520710059172

In [54]:
columns=['Error rate', 'Sensitivity', 'Specificity', 'Precision', 'AUC', 'Cross-Entropy']
rows=['Random Forest']

results = pd.DataFrame(0.0, columns=columns, index=rows)

y_pred = rnd.predict(x_test) 
y_prob = rnd.predict_proba(x_test)[:,1]

confusion  = confusion_matrix(y_test, y_pred) 
results.iloc[0,0] =  error_rate
results.iloc[0,1]=  confusion[1,1]/np.sum(confusion[1,:])
results.iloc[0,2]=  confusion[0,0]/np.sum(confusion[0,:])
results.iloc[0,3]=  precision_score(y_test, y_pred)

results.iloc[0, 4]=  roc_auc_score(y_test, y_prob)   
results.iloc[0, 5]=  log_loss(y_test, y_prob)   
results

,Error rate,Sensitivity,Specificity,Precision,AUC,Cross-Entropy
Random Forest,0.224852,0.983471,0.0,0.712575,0.507576,0.620836

In [55]:
y_3_rf=pd.DataFrame({'y_test':y_test,
                          'y_pred': y_pred})

In [56]:
pd.DataFrame(y_3_rf).to_csv('y_3_rf.csv',index=False)

## Q3 : Logit Model

In [57]:
# Set those members with answers greater than 5 as the 'Renewers'
data['Renewers'] = (data['q146']>5).astype(int)
X = data.loc[:, 'q131':'q139']
y = data['Renewers']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [58]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

LogisticRegression()

In [59]:
print(log_reg.intercept_)
print(log_reg.coef_)

[-2.59084291]
[[ 0.15174075  0.13747144 -0.03527     0.15086258  0.05805534  0.271253
   0.11609195  0.04830265 -0.21026779]]

In [60]:
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score
from sklearn.metrics import precision_score, log_loss

columns=['Error rate', 'Sensitivity', 'Specificity', 'Precision', 'AUC', 'Cross-Entropy']
rows=['Logistic']

results=pd.DataFrame(0.0, columns=columns, index=rows) 


y_pred = log_reg.predict(X_test) 
y_prob = log_reg.predict_proba(X_test)[:,1]

confusion  = confusion_matrix(y_test, y_pred) 
results.iloc[0,0]=  1 - accuracy_score(y_test, y_pred)
results.iloc[0,1]=  confusion[1,1]/np.sum(confusion[1,:])
results.iloc[0,2]=  confusion[0,0]/np.sum(confusion[0,:])
results.iloc[0,3]=  precision_score(y_test, y_pred)

results.iloc[0, 4]=  roc_auc_score(y_test, y_prob)   
results.iloc[0, 5]=  log_loss(y_test, y_prob)   
results

,Error rate,Sensitivity,Specificity,Precision,AUC,Cross-Entropy
Logistic,0.272189,0.975207,0.104167,0.732919,0.786846,0.510726

In [61]:
y_3_logit=pd.DataFrame({'y_test':y_test,
                          'y_pred': y_pred})

In [62]:
pd.DataFrame(y_3_logit).to_csv('y_3_logit.csv',index=False)

# Question 4: How can Swan management increase Swan members' involvement with Aussie Rules if Swan is an important part of their life?
DV: 5.2, IV: 4.1-4.6

In [63]:
 
#Question 4: How can Swan management increase Swan members' involvement with Aussie Rules if Swan is an important part of their life?
#DV: 5.2, IV: 4.1-4.6


# Set those members with answers greater than 5 as the 'Absolute supporters'
data['Absolute supporters'] = (data['q52']>5).astype(int)
X = data.loc[:, 'q41':'q46']
X = X.astype(int)
y = data['Absolute supporters']

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [65]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

LogisticRegression()

In [66]:
print(log_reg.intercept_)
print(log_reg.coef_)

[-6.51090373]
[[ 0.44791574 -0.12189684  0.20694742 -0.20633331  0.65021454  0.17216172]]

In [67]:
from scipy.stats import norm

def logit_pvalue(model, X):
    p = model.predict_proba(X)
    n = len(p)
    m = len(model.coef_[0]) + 1
    coefs = np.concatenate([model.intercept_, model.coef_[0]])
    X_full = np.matrix(np.insert(np.array(X), 0, 1, axis = 1))
    ans = np.zeros((m, m))
    for i in range(n):
        ans = ans + np.dot(np.transpose(X_full[i, :]), X_full[i, :]) * p[i,1] * p[i, 0]
    vcov = np.linalg.inv(np.matrix(ans))
    se = np.sqrt(np.diag(vcov))
    t =  coefs/se  
    p = (1 - norm.cdf(abs(t))) * 2
    return p

P_value = logit_pvalue(log_reg, X_train)
print(P_value)

[0.00000000e+00 8.62263146e-04 1.49627375e-01 6.19784640e-02
 7.88313110e-02 6.27466042e-05 7.01627552e-02]

In [68]:
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score
from sklearn.metrics import precision_score, log_loss

columns=['Error rate', 'Sensitivity', 'Specificity', 'Precision', 'AUC', 'Cross-Entropy']
rows=['Logistic']

results=pd.DataFrame(0.0, columns=columns, index=rows) 


y_pred = log_reg.predict(X_test) 
y_prob = log_reg.predict_proba(X_test)[:,1]

confusion  = confusion_matrix(y_test, y_pred) 
results.iloc[0,0]=  1 - accuracy_score(y_test, y_pred)
results.iloc[0,1]=  confusion[1,1]/np.sum(confusion[1,:])
results.iloc[0,2]=  confusion[0,0]/np.sum(confusion[0,:])
results.iloc[0,3]=  precision_score(y_test, y_pred)

results.iloc[0, 4]=  roc_auc_score(y_test, y_prob)   
results.iloc[0, 5]=  log_loss(y_test, y_prob)   
results

,Error rate,Sensitivity,Specificity,Precision,AUC,Cross-Entropy
Logistic,0.218935,0.714286,0.820755,0.703125,0.856619,0.456589

In [69]:
y_4_logit=pd.DataFrame({'y_test':y_test,
                          'y_pred': y_pred})

In [70]:
pd.DataFrame(y_4_logit).to_csv('y_4_logit.csv',index=False)